.nav-black>li>a{
	color : #000;
}

.categories-sidebar {
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    position:fixed;
    min-height:100%;
}
.categories-sidebar h4 {
	padding-left: .5em;
	font-size: 2em;
	font-weight: 400;
}
.categories-sidebar h5 a {
	padding: 1em 1.5em;
	display: block;
	text-decoration: none;
}
.categories-sidebar h5 a:hover {
	text-decoration: none;
	color: #000;
	background: #ffffff;
}
.categories-sidebar ul li {
	background: #fff;
}
.categories-sidebar ul li a {
	text-decoration: none;
	padding: 1em 1.5em;
	display: block;
	font-size: .9em;
	color: #333333;
}
tr.hover{

cursor: pointer;
background: yellow;
}
.circlefull{
	color:#77DF8A;
}
.count{
 -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    font-size: 1em;
    border: 0px solid #666;
    position: relative;
	color: #77DF8A;
}
.countred{
 -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    font-size: 1em;
    border: 0px solid #666;
    position: relative;
	color: red;
}
.countyellow{
 -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    font-size: 1em;
    border: 0px solid #666;
    position: relative;
	color: #FF9900;
}
.categories-sidebar .panel-body {
	background: #EFEFEF;
width:100%;
padding: 0px 0px 0px 0px;

}
.categories-sidebar .panel-body ul {
	margin:0;
padding: 0px 0px 0px 0px;
width:100%;

}

.categories-sidebar .panel-body ul li{
 	list-style: none;
 	background : #efefef;
width:100%;

}

.categories-sidebar .panel-body ul li a {
	display: block;
width:100%;

}
.categories-sidebar .panel-body ul li a:hover {
	text-decoration: none;
width:100%;

	color: #000;
	background: #fff;
}

.panel-heading{

	padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 768px){
	.categories-sidebar {
    width: 100%;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    position:relative;
}
}