/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
html{
  position: relative;
  min-height:100%;
}

body {
  margin-bottom: 40px;
}

footer {
  position: absolute;
    bottom: 0;
  clear:both;
  width:100%;
    height:40px;

}
.dropdown-account{
  background-color: #222222;
}
.dropdown-account>li>a{
  color: #9D9D9D;
  word-wrap: break-word;
  white-space: normal;
}
.dropdown-logs{
  width: 500px;
  background-color: #222222;
  overflow-y: auto;
  max-height: 500px;
}
.dropdown-logs>li>a{
  color: #9D9D9D;
  word-wrap: break-word;
  white-space: normal;
}

.date-display{
  display: block;
  color: #ADD8E6;
}
.app-fail{
  background-image: url("../images/reject.png");
  background-repeat: no-repeat;
}
.app-success{
  background-image: url("../images/accept.png");
  background-repeat: no-repeat;
}

  #chgPassForm input:required:invalid, #chgPassForm input:focus:invalid {
    background-image: url(../images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
  #chgPassForm input:required:valid {
    background-image: url(../images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
  }
.dropdown-hover > li:hover > a:hover{
  background-color: #fff;
}
.full-width{
  width:100%;
}
.nodisplay{
  display: none;
}
select
{
    color: #ccc;
}
option
{
    color: #000;
}
option:first-child
{
    color: #000;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
.txtscore{
  width: 50px;
}
.inputcomment{
  min-height: 150px;
}
.commentbox{
  width: 100%;
  text-align:center;
  vertical-align:middle;
 border: 2px solid #DDD; 
    border-radius: 5px;  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
   -webkit-box-shadow: -1px 3px 82px -33px rgba(51,37,36,0.15);
-moz-box-shadow: -1px 3px 82px -33px rgba(51,37,36,0.15);
box-shadow: -1px 3px 82px -33px rgba(51,37,36,0.15);
  
}

.straight{
  display: inline;
}
.spacing{
  padding-right: 5px;
}
.right{
  float:right;
}
.thefont{
  font-size:22px;
}
.green{
  font-size: 1em;
  color: #77DF8A;
}
.blue{
  font-size: 1em;
  color: #0000FF;
}
.redtext{
  font-size:1em;
  color:red;
}
.whitetext{
  color: #fff;
  font-size:1em;
}
.yellowtext{
  font-size:1em;
  color:#FF9900;
}
.greentext{
  font-size: 1em;
  color: green;
}
.qnum{
  width: 30px;
   background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
}
.qdesc{
  width: 100%;
  min-height: 100px;
   background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    resize:none;
}
.qtype{
  width: 50px;
   background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    top: 20% ;
}
body .modal-questions{
  width: 80%;
}
body .modal-logs{
  width: 70%;
}

.center{
  text-align:center;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.details{
  padding: 5%;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  float:right;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
@media screen and (max-width: 768px){
  .main {
    width: 100%;
    position:relative;
}
body .modal-questions{
  width: 100%;
}
body .modal-logs{
  width: 100%;
}
}
.btnremove{
  position:relative;
  bottom:99.9%;
  left: 16%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
