/* Move down content because we have a fixed navbar that is 50px tall */
html{
	position: relative;
	min-height:100%;
}

body {
	margin-bottom: 40px;
}

footer {
	position: absolute;
  	bottom: 0;
	clear:both;
	width:100%;
    height:40px;

}

.samesize{
	width :70%;
}
.samesize2{
	width: 40%;
}

.jumbotron{
	min-height:375px;
	padding-top:170px;
	background-image: url("/bootstrap/img/thankyou.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;


}
.internheader{
	min-height:375px;
	padding-top:130px;
	background-image:url('/bootstrap/img/round2.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}
.startheader{
	min-height:375px;
	padding-top:130px;
	background-image:url('/bootstrap/img/start.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}

.centered{
	text-align:center;
}
.justified{
	text-align:justify;
}

.full-width{
	width:100%;
}
.whitespace{
	padding-top:20px;
}
.form-horizontal .form-group {
margin-right: -15px;
margin-left: 0;
}
#marketingInternForm .1tab{
	margin-left: 20px !important;
}

.tabbable .nav li{
width: 50%;
text-align: center; 
}

.modal-header .close {
margin-top: -45px;
}

.modal-title{
text-align:center;
}
#examModal {
    overflow: hidden;
}
#examModal {
    overflow: scroll;
}
@media (max-width:768px){
	.samesize{
		min-width: 100%;
	}
	.samesize2{
		min-width:100%;
	}
}
